<app-period-select></app-period-select>

<table>
  <tr><td>Post</td><td>Som</td></tr>
  <tr *ngFor="let post of summary.posts">
    <td>{{post.post.name}}</td>
    <td>&euro; {{post.sum}}</td>
  </tr>
</table>
