<select (change)="changePeriod($event.target.value)">
  <option value="0">-- Selecteer een periode --</option>
  <option
    *ngFor="let period of periods"
    [value]="period.id">
    {{period.name}}
  </option>
</select>
